* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: #d9dcd6
}


header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #275872;
    color: #F8F8FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
    font-size: 48px;
}

.logo .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #F8F8FF;
    text-decoration: none;
}

a:focus {
    outline:none;
}

a:focus-visible {
    outline: 3px solid currentcolor;
    outline-offset: 4px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 16px;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero {
    flex: 0 0 100%;
    width: 100%;
    margin-bottom: 25px;
    display: block;
    object-fit: cover;
}

.content {
    display: flex;
    gap:24px;
    flex-direction: column;

}

.benefits {
    display: flex;
    margin-left: 20px;
    padding: 20px;
    flex-direction:column;
    min-height: auto;
    max-width: 300px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #165B7E;
}

.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #F8F8FF;
    min-height: auto;
    min-width: auto;

}

.benefit-brand h3, .benefit-cost h3, .benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}

.services {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px;
    min-height: 300px;
    max-width: 1500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #00588F;
    color: #F8F8FF;
}


.services img {
    max-height: auto;
    max-width: 200px;
    padding-right: 20px;
}

.services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}


/* MEDIA QUERIES */

@media (max-width: 768px) {
    .hero {
        min-height: 400px;
    }
    .content {
        flex-direction: column;
    }

    .services {
        max-width: 100%;
        max-width: 100%;
        padding: 20px;
    }
    
}